@model ProductViewModel

<style>
    .container {
        margin: 0 5%;
        padding: 0;
    }

    .product {
        display: flex;
    }

    img {
        height: 50vh;
    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    li {
        display: grid;
        grid-template-columns: 200px auto;
        list-style-type: none;
        padding: 0;
    }

    .title-info,
    li input {
        width: 100%;
    }

    span {
        display: inline-flex;
        width: 220px;
    }

    textarea {
        width: 100%;
        resize: none;
    }

    title-name {
        font-weight: bold;
        align-items: center;
    }

    .btn-block:hover {
        color: white;
        background-color: #b75454;
    }

    .btn-block {
        font-weight: bold;
        text-align: center;
        background-color: #a52a2a;
        color: white;
        margin: 10px;
        border: none;
        width: auto;
    }

    .error-message {
        color: #a52a2a;
        font-weight: bold;
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
    }

    .validation ul {
        list-style-type: none;
        color: #a52a2a;
        font-weight: bold;
        font-size: 14px;
        margin: 10px 0;
        padding: 0;
    }

</style>

<section class="product">

    <div class="product-image">
        <img src="@Model.ImageLink" alt="" />
        <input type="hidden" value="@Model.ImageLink" name="ImageLink"/>
    </div>

    <div class="title-info">
        <ul>
            <li>
                <input type="hidden" value="@Model.Id" asp-for="Id"/>
                <input type="hidden" value="@Model.ImageLink" asp-for="ImageLink"/>
            </li>
            <li>
                <span>Название</span>
                <input type="text" value="@Model.Name" asp-for="Name"/>
                <span class="error-message" asp-validation-for="Name"></span>
            </li>

            <li>
                <span>Автор</span>
                <input type="text" value="@Model.Author" asp-for="Author"/>
                <span class="error-message" asp-validation-for="Author"></span>
            </li>
            <li>
                <span>Цена</span>
                <input type="text" value="@Model.Cost" asp-for="Cost"/>
                <span class="error-message" asp-validation-for="Cost"></span>
            </li>
            <li>
                <span>Жанр</span>
                <input type="text" value="@Model.Genre" asp-for="Genre"/>
                <span class="error-message" asp-validation-for="Genre"></span>
            </li>
            <li>
                <span>Год издания</span>
                <input type="text" value="@Model.Year" asp-for="Year"/>
                <span class="error-message" asp-validation-for="Year"></span>
            </li>
            <li>
                <span>Количество страниц</span>
                <input type="text" value="@Model.Pages" asp-for="Pages"/>
                <span class="error-message" asp-validation-for="Pages"></span>
            </li>
            <li>
                <span>ISBN</span>
                <input type="text" value="@Model.Isbn" asp-for="Isbn"/>
                <span class="error-message" asp-validation-for="Isbn"></span>
            </li>
        </ul>
    </div>
</section>

<section>

    <label>О товаре</label>
    <div>
        <textarea value="@Model.Title" asp-for="Title"></textarea>
        <span class="error-message" asp-validation-for="Title"></span>
    </div>

    <label>Аннотация</label>
    <div>
        <textarea value="@Model.Description" asp-for="Description"></textarea>
        <span class="error-message" asp-validation-for="Description"></span>
    </div>

</section>

<button type="submit" class="btn btn-block">Сохранить</button>